.cityContainer {
  position: absolute;
  background-image: url("../assets/atardecerpalmeras.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12vh 32vw;
  top: 0;
  height: 70vh;
  width: 35vw;
  backdrop-filter: blur(5px);
  background-color: #fefefe4b;
  border-radius: 7px;
}

h2 {
  margin-top: 3px;
  color: #ece6e6;
  font-size: 55px;
}

.info {
  margin-top: 35px;
  font-size: 26px;
}

.button {
  border: solid 1px rgba(255, 255, 255, 0.656);
  color: rgb(129, 126, 126);
  background-color: rgba(255, 255, 255, 0.745);
  margin-top: 45px;
  margin-left: 155px;
  border-radius: 35px;
  width: 45px;
  transition: background-color 0.25s;
  height: 45px;
  font-size: 1.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(129, 126, 126);
  color: white;
}

/* Laptop Screen */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 12vh 26vw;
    height: 70vh;
    width: 45vw;
  }
}
/* Tablet Screen */
@media screen and (min-width: 425px) and (max-width: 768px) {
  .container {
    margin: 12vh 24vw;
    height: 70vh;
    width: 55vw;
  }
}
/* Mobile Screen */
@media screen and (max-width: 425px) {
  .container {
    margin: 4vh 24svw;
    margin-top: 35px;
    height: 39vh;
    width: 50vw;
  }
  h2 {
    margin-top: 0;
    font-size: 35px;
  }

  .info {
    margin-top: 12px;
    font-size: 16px;
  }

  .button {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    margin-top: 25px;
  }
}
