.home {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bkg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: #ffffff15;
}

.container {
  width: 83vw;
  height: 85vh;
  margin: 8vh 8vw;
  top: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 63vh 22vh;
}

.citiesContainer {
  display: flex;
  height: 42vh;
  backdrop-filter: blur(10px);
  background-color: #fefefe4c;
  justify-content: space-between;
  border-radius: 5px;
}

.home,
.container {
  position: absolute;
  background-image: url("../assets/atardecerpalmeras.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.5rem;
}

/* Laptop Screen */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
/* Tablet Screen */
@media screen and (min-width: 425px) and (max-width: 768px) {
}
/* Mobile Screen */
@media screen and (max-width: 425px) {
  /* .citiesContainer {
    height: 92vh;
  }
  .container {
    background-size: 1000px;
  } */

  .home {
    background-image: none;
  }
  .bkg {
    display: none;
  }
  .container {
    height: 104vh;
    background-size: 1800px;
  }
  .citiesContainer {
    height: 22vh;
  }
}
