.container {
  margin-top: 145px;
  font-weight: bold;
}

.container > a {
  text-decoration: none;
}

.title:hover {
  color: rgba(60, 61, 60, 0.549);
}

h1 {
  padding: 10px;
  text-align: center;
  color: black;
  background-color: rgba(193, 196, 193, 0.311);
  height: 85px;
  font-weight: 900;
  font-size: 45px;
}

.logo {
  margin: auto;
  margin-right: 25px;
  margin-left: 5px;
  width: 50px;
  height: 40px;
}
